{template './common/mainHeader'}
<div class="app-container-right">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="javascript:;">问卷一级分类列表</a>
		</li>
	</ul>
	<div class="app-content">
		<div class="app-filter">
			<div class="filter-action">
				<span class="btn btn-primary" id="addCate">
					<i class="fa fa-plus"></i> 新建一级分类
				</span>
			</div>
			<div class="filter-list">
				<form action="" method="get">
					<input type="hidden" name="c" value="site" />
					<input type="hidden" name="a" value="entry" />
					<input type="hidden" name="m" value="xsx_v3" />
					<input type="hidden" name="op" value="oneclass" />
					<input type="hidden" name="ac" value="oneclass" />
					<input type="hidden" name="do" value="follow" />
					<div class="form-group">
						<label class="col-sm-2 control-label">关键字</label>
						<div class="col-sm-9">
							<input type="text" name="keyword" class="form-control" value="{$keyword}" placeholder="请输入关键字" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-9">
							<button class="btn btn-primary">筛选</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="app-table-list">
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<thead class="navbar-inner">
						<tr>
							<th style="width: 10%;">ID</th>
							<th style="width: 30%;">分类名称(点击编辑)</th>
							<th style="width: 25%;">排序(点击编辑)</th>
							<th style="width: 25%;">状态(点击编辑)</th>
							<th style="width: 10%;">操作</th>
						</tr>
					</thead>
					<tbody>
					    {loop $row $item}
						<tr>
							<td>{$item['id']}</td>
							<td>
								<a href='javascript:;' data-toggle='ajaxEdit' data-href="{php echo $this->createWeburl('follow',array('op'=>'change','change'=>'one_name','id'=>$item['id']));}">
									{$item['one_name']} </a>
							</td>
							<td>
								<a href='javascript:;' data-toggle='ajaxEdit' data-href="{php echo $this->createWeburl('follow',array('op'=>'change','change'=>'one_strot','id'=>$item['id']));}">
									{$item['one_strot']} </a>
							</td>
							<td>
								<span class="change">
								    <span style="float: left;" class='label {if $item['one_type'] == '0'} label-primary {else} label-default {/if}'
										  data-toggle='ajaxSwitch'
										  data-switch-value="{$item['one_type']}"
                                          
										  data-switch-value0='1|禁用|label label-default|./index.php?c=site&a=entry&op=change&change=one_type&id={$item['id']}&do=follow&m=xsx_v3&value=0'
                                       
										  data-switch-value1='0|启用|label label-primary|./index.php?c=site&a=entry&op=change&change=one_type&id={$item['id']}&do=follow&m=xsx_v3&value=1'
										  >
									
										  {if $item['one_type'] == '0'} 启用 {else} 禁用 {/if} </span>
								</span>
							</td>
							<td style="position: relative;">
								<!--<a class="btn btn-sm btn-danger" data-toggle="ajaxRemove" href="{php echo $this->createWebUrl('wenjuan',array('op'=>'oneclassdel','id'=>$item['id']))}" data-confirm="删除一级分类会影响到二级分类以及问卷报告,确认删除此分类吗？">删除</a>-->
								<a class="btn btn-sm btn-danger" onclick="confirmDel(this)" data-id="{$item['id']}" data-confirm="删除一级分类会影响到二级分类以及问卷报告,确认删除此分类吗？">删除</a>
							</td>
						</tr>
                        {/loop}
					</tbody>
				</table>
			</div>
			<div class="app-table-foot clearfix">
				<div class="pull-left">

				</div>
				<div class="pull-right">
				</div>
			</div>
		</div>
		<div class="modal fade" id="addCateModal" aria-hidden="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">×</button>
						<h4 class="modal-title">新建级别</h4>
					</div>
					<div class="modal-body form-horizontal">
						<div class="form-group">
							<div class="col-sm-2 control-label">级别名称<span class="must-fill">*</span></div>
							<div class="col-sm-9">
								<input class="form-control" placeholder="请输入标签名称" id="saveTempName" value="" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">级别排序</div>
							<div class="col-sm-9">
								<input class="form-control" type="tel" placeholder="请输入标签排序" id="saveSort" value="" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 control-label">级别状态</div>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" value="1" name="saveStatus" checked="checked">启用</label>
								<label class="radio-inline">
									<input type="radio" value="0" name="saveStatus">禁用</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="btn btn-primary" id="saveCate">保存</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script type="text/javascript" src="{php echo XSX_ADMIN}/js/table_edit.js"></script>
	<script type="text/javascript">

		$("#addCate").unbind('click').click(function () {
		        $("#addCateModal").modal();
		        $("#saveCate").unbind('click').click(function () {
		            var status = $(this).data('status');
		            if(status) {
		                util.tips("正在保存，请稍候。");
		                return;
		            }
		            var name = $.trim($("#saveTempName").val());
		            if(!name) {
		                util.tips("请填写名称！");
		                $("#saveTempName").focus();
		                return;
		            }
		            var sort = $.trim($("#saveSort").val());
		            var status = $('input[name="saveStatus"]:checked').val();
		            $(this).data('status',1).text('保存中');
		            var url = "{$_W['siteroot']}web/index.php?c=site&a=entry&do=follow&op=oneclass&ac=oneclass&m=xsx_v3";
		            $.post(url, {
		                one_name: name,
		                one_strot: sort,
		                one_type: status
		            }, function (ret) {
		            	console.log(ret)
                        util.tips("保存成功！");
		                $("#addCateModal .close").trigger('click');
		                setTimeout(function () {
		                    location.reload();
		                }, 500);
		            }, 'json');
		        });
		    });
		    
            function confirmDel(data){
                var data_confirm = $(data).attr("data-confirm");
                var data_id = $(data).attr("data-id");

                if(confirm(data_confirm)){
                    var url = "{$_W['siteroot']}web/index.php?c=site&a=entry&do=follow&op=oneclassdel&ac=oneclassdel&m=xsx_v3";
                    $.post(url, {
                        id: data_id,
                    }, function (ret) {
                    	console.log(ret)
                        util.tips("操作成功！");
                        setTimeout(function () {
                            location.reload();
                        }, 500);
                    }, 'json');
                }
            }
	</script>
</div>
</div>
</div>



</body>
</html>