{template './common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs">
	<li class="active"><a href="#">短信参数编辑</a></li>
</ul>
<div class="app-content">
	<div class="app-form">
		<form action="" method="post" class="form-horizontal form form-validate" >
			<div class="panel panel-default">
				<div class="panel-heading">参数设置</div>
				<div class="panel-body">
					<div class="tab-content">
						<div class="form-group">
							<label class="col-sm-2 control-label">短信配置说明</label>
							<div class="col-sm-9">
								<div class="alert alert-warning">注: 仅支持阿里云或阿里大于，仅阿里云支持海外短信服务，阿里大于不支持。</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">appkey（AccessKeyId）</label>
							<div class="col-sm-9">
								<input type="text" name="key" class="form-control" value="{$res['key']}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">secretKey（AccessKeySecret）</label>
							<div class="col-sm-9">
								<input type="text" name="scret" class="form-control" value="{$res['scret']}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">短信签名</label>
							<div class="col-sm-9">
								<input type="text" name="qianming" class="form-control" value="{$res['qianming']}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">管理员手机号</label>
							<div class="col-sm-9">
								<input type="text" name="tel" class="form-control" value="{$res['tel']}" />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">问诊短息消息模板ID</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[templateid]" class="form-control" value="{$moban_id['templateid']}" />
								<span class="help-block">通知管理员：手机号为${content},姓名为${name}的用户预约了${ksname}科室的${doctor}医生</span>
							</div>
						</div>
					
						<div class="form-group">
							<label class="col-sm-2 control-label">退款申请通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[tkmoban]" class="form-control" value="{$moban_id['tkmoban']}" />
								<span class="help-block">通知管理员：您好，您有一条新的退款申请，请及时查看。</span>
							</div>
						</div>
					
						<div class="form-group">
							<label class="col-sm-2 control-label">验证码模板ID</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[moban_id]" class="form-control" value="{$moban_id['moban_id']}" />
								<span class="help-block">通知手机验证的用户/医生：您的验证码为${code}，请在5分钟之内输入。</span>
							</div>
						</div>
						
						
						<div class="form-group">
							<label class="col-sm-2 control-label">问诊通知id</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[wzmobel]" class="form-control" value="{$moban_id['wzmobel']}" />
								<!--<span class="help-block">通知医生：您好，姓名为${name}的用户，发起了咨询，请在${time}分钟内回复。</span>  SMS_237056325  -->
								
								
								<span class="help-block">通知医生：您好，姓名为${name}的用户，发起了咨询，请在${time}小时内回复。</span>
								
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">接诊通知id</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[jzmobel]" class="form-control" value="{$moban_id['jzmobel']}" />
								<!--<span class="help-block">通知用户：您好，您的订单为${orderid}，已经被${name}的医生接诊，请在${time}分钟内回复。</span>-->
								<span class="help-block">通知用户：您好，您的订单为${orderid}，已经被${name}的医生接诊，请在${time}小时内回复。</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">问诊取消通知id</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[qzjzmobel]" class="form-control" value="{$moban_id['qzjzmobel']}" />
								<span class="help-block">通知医生：您好，姓名为${name}的用户，取消了咨询，望下次再接再厉。</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">入驻审核通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[rzshmobel]" class="form-control" value="{$moban_id['rzshmobel']}" />
								<span class="help-block">通知医生：您好${name}，您的入驻申请已经通过，请及时完善资料</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">视频通话通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[spmobel]" class="form-control" value="{$moban_id['spmobel']}" />
								<!--<span class="help-block">通知医生：您好姓名为${name}的用户，向您发起视频，请在${time}分钟内进行回复。</span>-->
								
								
								
								<span class="help-block">尊敬的${name}，您有新的订单，请在${time}于${content}时间段内，发起视频。</span>
								
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">电话通话通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[telmobel]" class="form-control" value="{$moban_id['telmobel']}" />
								<span class="help-block">通知医生：您好姓名为${name}的用户，向您发起语音，请在${time}分钟内进行回复。</span>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">处方审核通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[cfmobel]" class="form-control" value="{$moban_id['cfmobel']}" />
								<span class="help-block">通知药师：您好，您有新的订单，请及时查看。</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">处方审核完成通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[cfshmobel]" class="form-control" value="{$moban_id['cfshmobel']}" />
								<span class="help-block">通知医生/用户：您好，您的订单，已经通过审核请及时查看。</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">退款通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[tkmobel]" class="form-control" value="{$moban_id['tkmobel']}" />
								<span class="help-block">通知用户：您好，您的订单${orderid}，已经退款成功请及时查看。</span>
							</div>
						</div>
							<div class="form-group">
							<label class="col-sm-2 control-label">提现通知</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[txtzmobel]" class="form-control" value="{$moban_id['txtzmobel']}" />
								<span class="help-block">通知医生/药师/导诊：您好，您的收益已经提现成功，请及时查看。</span>
							</div>
						</div>
						
						
						<div class="form-group">
							<label class="col-sm-2 control-label">药品订单模板ID</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[ypmobel]" class="form-control" value="{$moban_id['ypmobel']}" />
								<span class="help-block">通知管理员：手机号为${content},姓名为${name}的用户购买了${productname},请及时发货</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">药品发货模板ID</label>
							<div class="col-sm-9">
							
								<input type="text" name="mobel[ypfhmobel]" class="form-control" value="{$moban_id['ypfhmobel']}" />
								<span class="help-block">通知用户：您购买的${productname}，已经发货，物流单号为${orderwl},物流公司为${company},发货时间为${time}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">医生拒绝接诊通知用户</label>
							<div class="col-sm-9">
								<input type="text" name="mobel[jujuemobel]" class="form-control" value="{$moban_id['jujuemobel']}" />
								<span class="help-block">通知用户：很抱歉地通知您，您的咨询${doctorname}医生的订单已被取消接诊，款项将会原路退回，如需帮助，请联系客服。</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">处方被驳回通知医生</label>
							<div class="col-sm-9">
								<input type="text" name="mobel[bohuimobel]" class="form-control" value="{$moban_id['bohuimobel']}" />
								<span class="help-block">通知医生：很遗憾地通知您，刚刚您开出的一张处方被药师驳回,请及时查看驳回原因。</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">服务订单审核通过</label>
							<div class="col-sm-9">
								<input type="text" name="mobel[fuddmobel]" class="form-control" value="{$moban_id['fuddmobel']}" />
								<span class="help-block">通知患者：恭喜您，您的服务订单已经审核通过，请及时查看并付款。</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">服务订单审核驳回</label>
							<div class="col-sm-9">
								<input type="text" name="mobel[fuddbhmobel]" class="form-control" value="{$moban_id['fuddbhmobel']}" />
								<span class="help-block">通知患者：很遗憾地通知您，您之前提交的订单由于某些原因未能通过审核，已被驳回。对此给您带来的不便，我们深感抱歉。</span>
							</div>
						</div>
	
	
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-9">
					<input type="submit" name="submit" value="提交" class="btn btn-primary min-width" />
					<input type="hidden" name="token" value="{$_W['token']}" />
					<input type="hidden" name="id" value="{$res['id']}" />
				</div>
			</div>
		</form>
	</div>
</div>
<!-- <script type="text/javascript">
$(".js-switch").change(function() { 
	if($('.js-switch').is(':checked')) {
    	$('.note_quhao').show();
	} else {
		$('.note_quhao').hide();
	}
});
</script> -->
			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		
	</div>
	

	</body>
</html>
