{template '/common/mainHeader'}

<div class="app-container-right">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active">
			<a href="#tab_basic">健康说明</a>
		</li>
	</ul>
	<div class="app-content">
		<div class="app-form">
			<form action="" method="post" class="form-horizontal form form-validate">
				<div class="panel panel-default">
					<div class="panel-heading">健康说明</div>
					<div class="panel-body">
						
						<div class="form-group">
							<label class="col-sm-2 control-label">睡眠说明</label>
							<div class="col-sm-9">
								{php echo tpl_ueditor('sleep_content',$item['sleep_content']);}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">运动说明</label>
							<div class="col-sm-9">
								{php echo tpl_ueditor('sport_content',$item['sport_content']);}</div>
						</div>
						
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-9">
						<input type="submit" name="submit" value="提交" class="btn btn-primary min-width" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>


</body>
</html>