{template './common/mainHeader'}
<ul class="nav nav-tabs">
	<li class="active"><a href="#">首页头部设置</a></li>
</ul>
<div class="app-content">
    {if count($list) <2}
	<div class="app-filter">
		<div class="filter-action">
			<a class="btn btn-primary" href="/web/index.php?c=site&a=entry&do=base&m=xsx_v3&op=add_header&ac=header">添加首页头部设置</a>
		</div>
	</div>
	{/if}
	<div class="app-table-list">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">图片</th>
						<th class="text-center">标题</th>
						<th class="text-center">状态</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $list $adv}
						<tr  class="text-center">
							<td><img class="scrollLoading" src="{php echo tomedia($adv['thumb'])}" data-url="{php echo tomedia($adv['thumb'])}" onerror="this.src='{php echo tomedia($adv['thumb'])}'" height="50" width="100"/></td>
							<td>{$adv['title']}</td>
							
							<td>{if $adv['status'] == 0}<span class="label label-default">隐藏</span>{/if}
								{if $adv['status'] == 1}<span class="label label-success">显示</span>{/if}
							</td>
							<td>
								<a href="/web/index.php?c=site&a=entry&do=base&m=xsx_v3&op=add_header&ac=header&id={$adv['id']}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改"><i class="fa fa-edit"></i>修改</a>
								<a href="/web/index.php?c=site&a=entry&do=base&m=xsx_v3&op=del_header&ac=header&id={$adv['id']}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times">删除</i></a>
							</td>
						</tr>
					{/loop}
				</tbody>
			</table>
		</div>
		<div class="app-table-foot clearfix">
			<div class="pull-left">

			</div>
			<div class="pull-right">
				{$pager}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#search").click(function(){
		$('#form1')[0].submit();
	});
</script>