{template './common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="javascript:;">接口设置</a></li>
</ul>
<div class="app-content">

<div class="app-form" id="interfaceManagement">
	<form action="" method="post" class="form-horizontal form form-validate">
		
		<div class="panel-heading">小程序设置</div>
		<div class="tab-content">
			<div class="form-group">
				<label class="col-sm-2 control-label">小程序appid</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" v-model="info.txmapkey" name="appid"  value="{$res['appid']}" />
					<span class="help-block">请填写您的小程序appid</span>
				</div>
			</div>
          <div class="form-group">
				<label class="col-sm-2 control-label">小程序key</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" v-model="info.txmapkey" name="appsecret"  value="{$res['appsecret']}" />
					<span class="help-block">请填写您的key</span>
				</div>
			</div>
		</div>
   
		<!--物流查询接口管理-->
		<div class="panel-heading">物流查询接口管理</div>
		<div class="tab-content">
			<div class="form-group">
				<label class="col-sm-2 control-label">接口类型</label>
				<div class="col-sm-9">
						<label class="radio-inline">
						    <input type="radio" name='wuliu_state' value='1' {if $res['wuliu_state']=='1' } checked="checked" {/if}>关闭
						           </label>
						           <label class="radio-inline">
						    <input type="radio" name='wuliu_state' value='0' {if $res['wuliu_state']=='0' || !$res} checked="checked" {/if}>快递1000
						</label>					
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">选择默认物流</label>
				<div class="col-sm-9">
					<select name="wlid" class="form-control">
                        {loop $row $item}
					    <option value="{$item['id']}" {if $item['id'] ==$res['wlid']} selected="selected" {/if}>{$item['name']}</option>
                        {/loop}
					   
					</select>
					<span class="help-block">没有物流请先添加物流公司 <a href="/web/index.php?c=site&a=entry&op=add&ac=addwuli&do=wuliu&m=xsx_v3"> 点击这里 </a></span>
				</div>
			</div>
			<!--快递鸟配置信息-->
			<span v-if="info.logistics.type == 1">
				<div class="form-group">
					<label class="col-sm-2 control-label">授权KEY</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="wuliu_key" value="{$res['wuliu_key']}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">customer</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="wuliu_appid"  value="{$res['wuliu_appid']}"/>
					</div>
				</div>
			</span>
		</div>
		
          
		<!--提交按钮-->
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>
			<div class="col-sm-9">
				<input type="submit" value="提交" class="btn btn-primary min-width"/>
	            <input type="hidden" name="p_id" value="{$p_id}">
	            <input name="token" type="hidden" value="{$_W['token']}" />
			</div>
		</div>
	</form>
</div>
</div>

			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		
	</div>
	


    <script>
		require(['bootstrap'], function ($) {
		    $('[data-toggle="tooltip"]').tooltip({
	            container: $(document.body)
	        });
	        $('[data-toggle="popover"]').popover({
	            container: $(document.body)
	        });
	        $('[data-toggle="dropdown"]').dropdown({
	            container: $(document.body)
	        });
	    });

		$('.app-login-info-name, .app-login-info-sel').mouseover(function(){
			$('.app-login-info-sel').show();
		});
		$('.app-login-info-name, .app-login-info-sel').mouseout(function(){
			$('.app-login-info-sel').hide();
		});
		$('.app-login-info-sel .login-out').hover(function(){
			$('.app-login-info-sel-arrow').css('border-color', '#1ab394 transparent transparent transparent');
		},function(){
			$('.app-login-info-sel-arrow').css('border-color', '#f2f2f2 transparent transparent transparent');
		});
	</script>
	</body>
</html>

