{template '/common/mainHeader'}

<div class="app-container-right">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active">
			<a href="#tab_basic">胆固醇标准</a>
		</li>
	</ul>
	<div class="app-content">
		<div class="app-form">
			<form action="" method="post" class="form-horizontal form form-validate">
				<div class="panel panel-default">
					<div class="panel-heading">胆固醇标准</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">正常最高</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">℃</span>
									<input type="text" name="max_value" class="form-control" value="{$item['max_value']}">
								</div>
							</div>
							<div class="help-block col-md-10 col-lg-offset-2">正常最高</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">正常最低</label>
							<div class="col-sm-9">
								<div class="input-group">
									<span class="input-group-addon">℃</span>
									<input type="text" name="min_value" class="form-control" value="{$item['min_value']}">
								</div>
							</div>
							<div class="help-block col-md-10 col-lg-offset-2">正常最低</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">偏低建议</label>
							<div class="col-sm-9">
								{php echo tpl_ueditor('proposal_low',$item['proposal_low']);}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">偏高建议</label>
							<div class="col-sm-9">
								{php echo tpl_ueditor('proposal_high',$item['proposal_high']);}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">正常建议</label>
							<div class="col-sm-9">
								{php echo tpl_ueditor('proposal_normal',$item['proposal_normal']);}</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-9">
						<input type="submit" name="submit" value="提交" class="btn btn-primary min-width" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>


</body>
</html>