{template './common/mainHeader'}
<div class="app-container-right">
	<div class="app-content">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a href="#">添加文章</a>
			</li>
		</ul>
		<div class="app-form">
			<div class="main">
				<form action="" method="post" class="form-horizontal form" id="form">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="panel-body">

								<div class="form-group">
									<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">处理意见</label>
									<div class="col-md-8">
										<input type="text" name="results" id="results" class="form-control" value="{$res['title']}" />
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="form-group col-sm-12">
						<input type="hidden" name="id" value="{$id}" />
						<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
					</from>

			</div>
		</div>
	</div>
</div>
</div>
</div>
</body>
</html>