{template '/common/mainHeader'}
<div class="app-container-right">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/web/index.php?c=site&a=entry&m=xsx_v3&op=jiancha&ac=editrole&do=editrole&keyword={$keyword}&id={$id}">编辑权限</a>
        </li>
    </ul>
    <div class="app-content">
        <div class="app-form">
            <form action="" method="post" class="form-horizontal form form-validate">
                <input type="hidden" name="id" value="{$id}" />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        权限设置
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名<span class="must-fill">*</span>
                            </label>
                            <div class="col-sm-9">
                                <input type="text" name="title" disabled="disabled" placeholder="请输入分组名称" class="form-control" value="{$keyword}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">权限<span class="must-fill">*</span></label>
                            <div class="col-sm-9">
                                {loop $roleList $roleinfo}
                                <br><input type='checkbox' name='role[]'  {if in_array($roleinfo['id'],$checkedrole)} checked="checked" {/if} class="form-control" value='{$roleinfo['id']}' />{$roleinfo['role_name']}</span></br>
                                {/loop}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <input type="submit" name="submit" lay-submit value="提交" class="btn btn-primary min-width" />
                                <input type="hidden" name="token" value="{$_W['token']}" />
                                <input type="hidden" name="id" value="{$id}" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<div class="foot" id="footer">
    <ul class="links ft">
        <li class="links_item">
          
        </li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript">
    $('.checkbox input').on('click',function () {
        // body...
        var checkids = [];
        $("input[name='plugins[]']:checked").each(function(inx,val){
                checkids.push($(val).parents('label').text().trim())
        })
        $('#plugins').val(checkids)
    })
</script>