{template './common/mainHeader'}
<div class="app-container-right">
			<ul class="nav nav-tabs">
	<li class="active"><a href="javascript:;">标签列表</a></li>
</ul>
<div class="app-content">
	<div class="app-filter">
		<div class="filter-action">
			<a href="{php echo $this->createWeburl('medicine',array('op'=>'add_label','hid'=>$_SESSION['hid'],'ac'=>'label'))}" class="btn btn-primary">添加标签</a>
		</div>
	</div>	
	<div class="app-table-list">
		<div class="table-responsive">
			<table id="de1" class="table table-hover table-bordered">
				<thead>
					<tr>
						<th class="text-center" style="width:100px;">ID</th>
						<th class="text-center" style="width:400px;">标签</th>
						<th class="text-center" style="width:100px;">状态</th>
						<th class="text-center" style="width:240px;">操作</th>
					</tr>
				</thead>
				<tbody>
				{loop $list $item}
										<tr class="text-center" >
						<td>{$item['id']}</td>
						<td>
							<div class="img" style="text-align: left;padding-left: 2rem;">
								<img style="height: 50px;width: 50px;margin-right: 10px;"   src ="{$item['thumb']}">
								<span> {$item['title']}</span>
							</div>
						</td>
						<td><span class="label label-success">{if $item['status'] == '1'}显示{else if $item['status'] == '0'} 隐藏 {/if}</span></td>
						<td>
							<a href="{php echo $this->createWeburl('medicine',array('op'=>'add_label','id'=>$item['id'],'hid'=>$_SESSION['hid']))}" class="btn btn-primary">修改</a>
							<a href="{php echo $this->createWeburl('medicine',array('op'=>'del_label','id'=>$item['id'],'hid'=>$_SESSION['hid']))}" class="btn btn-danger" data-toggle="ajaxRemove" data-confirm="此操作会删除当前分类，确定要删除吗？">删除</a>
						</td>
					</tr>
					{/loop}
									</tbody>
			</table>
			{$pager}
		</div>
		<div class="app-table-foot clearfix">
			<div class="pull-left">
				
			</div>
			<div class="pull-right">
							</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
	<div class="foot" id="footer">
		
	</div>
	</body>
</html>

